body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: #331c47;
    color: #c1c1c1;
    background-color: #6e2b1a;
    



}


h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #a59f69;
    color: #000;
}