
/* GENERAL PARAMETERS*/

h1 {
    font-family:"Bebas Neue";
    font-size: 72pt;
    background-color: #6ed3ff;
    color: black;
    text-align: center;
}

h2{
    font-family:"Bebas Neue";
    text-align: center;
    font-size: 42pt;
    background-color: #6ed3ff;
    color: black;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

body{
    background-color:rgb(0, 0, 0);
    text-align: center;
    margin-bottom:auto;
}

/*FOOTER*/

footer{
    margin-top: 10em;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    color: #d1cccc;
    background-color: rgb(42, 42, 61);
    padding-top: 1em;
    padding-bottom: 1em;
}

footer svg{
    padding: 0.5em;
}




/* DROP CAPS */

article p:nth-child(4n+1)::first-letter{
    display:block;
    float:left;
    font-size:300%;
    color:#6ed3ff;
    margin-right: 0.5ex;
    margin-left: 0.5ex;
}


/* BODY SECTIONS */

/*HEADER SECTION*/

#header img {
    max-width: 500%;
    max-height:75px;
    margin-bottom:-5px;
}

h1 {
    margin:0px;
}

/*HERO SECTION*/

#hero{

    font-family:"Bebas Neue";
    font-size: xx-large;
    color: #6ed3ff;
    background-color: #201b3f;
    min-width: fit-content;
    align-items: center;
    text-align: center;
    padding-bottom: 0.25em;
}

#hero img{
    max-width: 320px;
    border-radius: 50%;
    margin-top: 0.5em;

}

/*QUICK FACTS SECTION*/

#QuickFacts{
    background-color:rgb(42, 42, 61);
}

#QuickFacts ul{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #d1cccc;
    text-align: left;
    padding-bottom: 1.75em;
}



/*GALLERY SECTION*/

#gallery{
    font-family: 'Montserrat', sans-serif;
    color: #d1cccc;
}

#gallery img{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    border-radius: 0.5em;
}


/*LITIPSUM ARTICLE*/


#article div{
    font-family: 'Montserrat', sans-serif;
    color: #d1cccc;
    text-align: left;
    line-height: 22pt;
}

#article p{
    text-align: left;
    margin-left: 1em;
    margin-right: 1em;
}

/*VIDEO*/

#video{
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
    color: #d1cccc;
    background-color: #201b3f;

}

#video iframe{
    margin-left: 1vw;
    margin-right: 1vw;
}

#caption{
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    color: #d1cccc;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

/*FEEDBACK FORM*/

#formElements{
    display: grid;
    row-gap: 1em;
    color: #d1cccc;
}

#formHead{
    font-family:"Bebas Neue";
    font-size: 32pt;
    color: #6ed3ff;
}

#contact ul{
    list-style: none;
    padding: 0px;
}

#contact li{
    margin: 1rem;
}

#contactForm{
    font-family: 'Montserrat', sans-serif;
    border-radius: 0.5em;
    padding: 1rem;
    max-width: 60vw;
    margin: 2rem auto;
    background-color: rgb(42, 42, 61);
}

#contactForm textarea{
    min-width: fit-content;
    min-height: 50px;
    max-height: 1000px;
}

#contactForm button{
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    color: #342a2a;
    background-color: #6ed3ff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.25em;
    min-width: 150px;
    max-width: 150px;
    max-height: 40px;
    min-height: 40px;
}



/*RESPONSIVENESS*/

/*DEFAULT VIEW: Smart Phones (Most)*/

/*Tablet*/

@media screen and (min-width: 60em) {
   
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
        font-size: xx-large;
        padding-top: auto;
        padding-bottom: auto;
    }
    
    figcaption {
        align-self: center;
        text-align: left;
        margin-left: 0.5em;
    }    

    #article div{
        padding: 4em;
        padding-right: 4em;

    }
}


/*Laptop/Desktop Monitor*/
@media screen and (min-width: 100em) {
   
    #gallery{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

    #gallery hr {
        display:none;
    }

    #gallery h2 {
        grid-column: 1/-1;
    }

    #gallery img {
        height:550px;
    }

    figure {
        display:block;
        border-bottom:1px solid white;
        padding-bottom:2em;
    }

    figcaption{
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2rem;
        margin-left: 1rem;
    }

    #article div{
        max-width:100%;
        columns: 40rem;
    }

}